[build]
  command = "npx expo export --platform web"
  publish = "dist"
  directory = "dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
